body {
	background-image: url("3.png");
	background-size: cover;
	background-color: #cccccc;
	font-family: "Segoe UI";
}
#wrapper {
	background-color: rgba(255, 255, 255, 0.8);
	width: 400px;
	height: 330px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border-radius: 30px;
	text-align: center;
}
input[type=text], input[type=password] {
	border: 1px solid #ddd;
	padding: 5px;
	width: 70%;
	border-radius: 2px;
	outline: none;
	margin-top: 10px;
	margin-bottom: 20px;
}
label, h1 {
	text-transform: uppercase;
	font-weight: bold;
}
h1 {
	text-align: center;
	font-size: 20px;
	color: #c9b00a;
}
.buttonku {
	border-radius: 10px;
	padding: 10px;
	width: 120px;
	background-color: #c9b00a;
	border: none;
	color: #fff;
	font-weight: bold;
}

.buttonku2 {
	border-radius: 10px;
	padding: 10px;
	width: 120px;
	background-color: red;
	border: none;
	color: #fff;
	font-weight: bold;
}