{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 
body
{
    background-color: gainsboro;
}
 
.badan-utama
{
    max-width: 1080px;
    margin: 20px auto;
    background-color: white;
    padding: 15px;
    overflow: hidden;
}
 
header
{
    background-color: #bfb7a3;
    color: white;
    padding: 20px;
}
 
header h2
{
    margin-bottom: 7px;
    font-size: 35px;
}
 
.navigasi ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0c243;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
 
.navigasi li 
{
    float: left;
}
 
.navigasi li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
 
.navigasi li a:hover 
{
    background-color:#6b6856;
    transition-duration: 2s;
}
 
 
.kotak h3
{
    background-color: #bfb7a3;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 13px;
}
 
.kotak img
{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
 
.kotak p
{
    margin-bottom: 10px;
}
 
 
.menu-tengah
{
    width: 100%;
    margin-right: 10px;
    float: left;
}
 
.menu-tengah h3
{
    background: none;
    color: #bf9836;
    margin-bottom: 0;
}
 
.tombol
{
    display: block;
    text-decoration: none;
    padding: 10px;
    width: 120px;
    color: white;
    border-radius: 5px;
    text-align: center;
}
 
.tombol:hover
{
    background-color: black;
    transition-duration: 2s;
}
 
.tombol-pesan
{
    background-color: #f0c243;
}
 
.tombol-lengkap
{
    background-color: #f0c243;
}
 
.menu-kanan
{
    width: 250px;
    float: left;
}
 
.menu-kanan, .menu-kiri, .menu-tengah
{
    margin-bottom: 15px;
}
 
footer
{
    clear: both;
    background-color: #bfb7a3;
    color: white;
    padding: 15px;
    text-align: center;
}
 
 
 
/*untuk tablet*/
@media screen and (max-width:1080px)
{
    .badan-utama
    {
        width: 100%;
    }
 
    .menu-tengah
    {
        width: 68%;
        float: right;
    }
}
 
/*untuk android*/
@media screen and (max-width:780px)
{
    header h2, header p
    {
        text-align: center;
    }
 
    .menu-tengah
    {
        float: none;
        width: 100%;
    }
 
    .navigasi li
    {
        float: none;
    }
}

.btn{
  width: 40px;
  height: 40px;
  margin: 12px;
  border-radius: 30%;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 5px;
    background: #800000;
}

.tambah_btn {
    text-decoration: none;
    padding: 5px 8px;
    background: #3f6e08;
    color: white;
    border-radius: 3px;
}

.table {
    font-family: sans-serif;
    color: black;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
}
 
.table tr th{
    background: #355212;
    color: #fff;
    font-weight: normal;
}
 
.table, th, td {
    padding: 5px 12px;
    text-align: center;
    font-size: 15px;
}
 
.table tr:hover {
    background-color: #f0c243;
}
 
.table tr:nth-child(even) {
    background-color: #f0c243;
}